body {
    /* background-color: color-mix(in srgb, dodgerblue 50%, limegreen 50%); */
    background: url(../Images/AI.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    overflow-x: auto;
}
h1 {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, grey, aqua, lime, lightblue);
    color: indigo;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    color: blue;
}
div > .countList,
div > .keyName {
    font-size: 20px;
    margin-left: 45%;
}
p,
ul {
    color: green;
    font-weight: bold;
}
button {
    color: #fff;
    font-weight: bold;
    background-color:cornflowerblue;
}
.default {
    color: black;
}
.positive {
    color: green;
}
.negative {
    color: red;
}